@use "../abstract" as abs;

/*+-----------------------------------------------+
  |                   BUTTONS                     |
  +-----------------------------------------------+*/
.btn_1 {
  background-color: abs.$red;
  @include abs.Font1;
  color: abs.$white;
  font-size: 22px;
  padding: 12px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px abs.$black;
  animation: movingY 800ms ease-in-out 0ms infinite alternate-reverse both;
  transition: color 200ms, background-color 300ms;
  cursor: pointer;

  &:hover {
    animation-play-state: paused;
    background-color: abs.$white;
    color: abs.$red;
  }
}
.btn_2 {
  @include abs.Title2;
  background-color: abs.$red;
  color: abs.$white;
  border: 2px solid abs.$red;
  border-radius: 1000px;
  font-size: 14px;
  padding: 7px 20px;
  width: fit-content;
  cursor: pointer;

  transition: background-color 400ms ease, color 300ms ease;

  &:hover {
    background-color: transparent;
    color: abs.$red;
  }
}
.btn_3 {
  @include abs.Title2;
  color: abs.$white;
  background-color: transparent;
  border: 2px solid abs.$red;
  border-radius: 1000px;
  font-size: 14px;
  padding: 7px 20px;
  width: fit-content;
  cursor: pointer;

  transition: background-color 400ms ease;

  &:hover {
    background-color: abs.$red;
  }
}





/*+--------------------------------------+
  |            PSEUDO ELEMENTS           |
  +--------------------------------------+*/
.hover1{
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    border-bottom: 1px solid transparent;

    transition: right 300ms, left 300ms;
  }
  &:hover::before {
    left: 0%;
    right: 0%;
    border-bottom: 1px solid abs.$red;
  }
}
.hover2{
  position: relative;
  cursor: pointer;

  &::before, &::after{
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    transition: right 300ms, left 300ms;
  }
  &::before {
    bottom: -5px;
    border-bottom: 1px solid transparent;
  }
  &::after{
    top: -5px;
    border-top: 3px solid transparent;
  }
  &:hover::before, &:hover::after{
    left: 0%;
    right: 0%;
  }
  &:hover::before {
    border-bottom: 3px solid abs.$red;
  }
  &:hover::after{
    border-top: 3px solid abs.$red;
  }

  &.active::before, &.active::after{
    content: "";
    position: absolute;
    left: 0%;
    right: 0%;
  }
  &.active::before{
    border-bottom: 3px solid abs.$red;
  }
  &.active::after{
    border-top: 3px solid abs.$red;
  }
}
/*+--------------------------------------+
  |            PSEUDO ELEMENTS           |
  +--------------------------------------+*/




/*+--------------------------------------+
  |                TITLES                |
  +--------------------------------------+*/
.title1 {
  @include abs.Drawed1;
  font-size: 35px;
  color: abs.$white;

  &::first-letter {
    color: abs.$red;
  }
}
.title2{
  @include abs.Drawed1;
  font-size: 50px;
  color: abs.$white;

  &::first-letter {
    color: abs.$red;
  }
}
.title3{
  @include abs.Title2;
  font-size: 28px;
  width: fit-content;
  padding: 4px 10px;
  color: abs.$blackest;

  position: relative;

  &::before, &::after{
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
  }
  &::before{
    top: 0;
    right: 0;
    border-top: 1px solid abs.$blackest;
    border-right: 1px solid abs.$blackest;
  }
  &::after{
    bottom: 0;
    left: 0;
    border-bottom: 1px solid abs.$blackest;
    border-left: 1px solid abs.$blackest;
  }
}
/*+--------------------------------------+
  |                TITLES                |
  +--------------------------------------+*/



  
/*+--------------------------------------+
  |               PARAGRAPH              |
  +--------------------------------------+*/

/*+--------------------------------------+
  |               PARAGRAPH              |
  +--------------------------------------+*/



  
/*+--------------------------------------+
  |              HIGHLIGHTER             |
  +--------------------------------------+*/
  .highlighter1{
    color: lighten(abs.$red, 8%);
    font-weight: 700; 
  }
/*+--------------------------------------+
  |              HIGHLIGHTER             |
  +--------------------------------------+*/
  

  
/*+--------------------------------------+
  |              SELECTORS               |
  +--------------------------------------+*/
  .selector1{
    @include abs.Drawed1;
    font-size: 28px;
    color: abs.$white;

    &::first-letter {
      font-size: 2em;
    }
    &.active{
      color: abs.$red;
    }
  }
  .selector2{
    @include abs.Drawed1;
    font-size: 28px;
    color: abs.$white;

    &::first-letter {
      font-size: 2em;
    }
  }
/*+--------------------------------------+
  |              SELECTORS               |
  +--------------------------------------+*/
