@use "../abstract" as *;

/*+-----------------------------------------------+
  |                   BUTTONS                     |
  +-----------------------------------------------+*/
.btn_1 {
  background-color: $red;
  @include Font1;
  color: $white;
  font-size: 22px;
  padding: 12px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px $black;
  animation: movingY 800ms ease-in-out 0ms infinite alternate-reverse both;
  transition: color 200ms, background-color 300ms;
  cursor: pointer;
  width: fit-content;

  &:hover {
    animation-play-state: paused;
    background-color: $white;
    color: $red;
  }
}
.btn_2 {
  @include Title2;
  background-color: $red;
  color: $white;
  border: 2px solid $red;
  border-radius: 1000px;
  font-size: 14px;
  padding: 7px 20px;
  width: fit-content;
  cursor: pointer;

  transition: background-color 400ms ease, color 300ms ease;

  &:hover {
    background-color: transparent;
    color: $red;
  }
}
.btn_3 {
  @include Title2;
  color: $white;
  background-color: transparent;
  border: 2px solid $red;
  border-radius: 1000px;
  font-size: 14px;
  padding: 7px 20px;
  width: fit-content;
  cursor: pointer;

  transition: background-color 400ms ease;

  &:hover {
    background-color: $red;
  }
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
.btn_4 {
  @include Title1;
  color: $red;
  font-size: 1vw;
  padding: 0.35vw 1.2vw;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: $white;

  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    width: 6px;
    background-color: transparent;
    border-radius: 4px;

    transition: background-color 300ms, transform 300ms;
  }
  &:hover::before {
    background-color: $white;
    transform: translateX(-180%);
  }
}

/*+--------------------------------------+
  |            PSEUDO ELEMENTS           |
  +--------------------------------------+*/
.hover2 {
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    transition: right 300ms, left 300ms;
  }
  &::before {
    bottom: -5px;
    border-bottom: 1px solid transparent;
  }
  &::after {
    top: -5px;
    border-top: 3px solid transparent;
  }
  &:hover::before,
  &:hover::after {
    left: 0%;
    right: 0%;
  }
  &:hover::before {
    border-bottom: 3px solid $red;
  }
  &:hover::after {
    border-top: 3px solid $red;
  }

  &.active::before,
  &.active::after {
    content: "";
    position: absolute;
    left: 0%;
    right: 0%;
  }
  &.active::before {
    border-bottom: 3px solid $red;
  }
  &.active::after {
    border-top: 3px solid $red;
  }
}
/*+--------------------------------------+
  |            PSEUDO ELEMENTS           |
  +--------------------------------------+*/

/*+--------------------------------------+
  |                TITLES                |
  +--------------------------------------+*/
.title1 {
  @include Drawed1;
  font-size: 35px;
  color: $white;

  &::first-letter {
    color: $red;
  }
}
.title2 {
  @include Drawed1;
  font-size: 50px;
  color: $white;

  &::first-letter {
    color: $red;
  }
}
@mixin titleFamily3($color, $borderColor) {
  @include Title2;
  font-size: 28px;
  width: fit-content;
  padding: 4px 10px;
  color: $color;

  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
  }
  &::before {
    top: 0;
    right: 0;
    border-top: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
  }
  &::after {
    bottom: 0;
    left: 0;
    border-bottom: 1px solid $borderColor;
    border-left: 1px solid $borderColor;
  }
}
.title3 {
  @include titleFamily3($blackest, $blackest);
}
.title3-1 {
  @include titleFamily3($white, $red);
}
.title3-2 {
  @include titleFamily3(#000, $red);
}
@mixin titleFamily4($color, $arrowColor) {
  @include Title1;
  font-size: 34px;
  text-transform: capitalize;
  color: $color;
  width: fit-content;

  &::before {
    content: ">";
    color: $arrowColor;
    margin-right: 0.33em;
  }
}
.title4 {
  @include titleFamily4($white, $red);
}
.title4-1 {
  @include titleFamily4($black, $red);
}
/*+--------------------------------------+
  |                TITLES                |
  +--------------------------------------+*/

/*+--------------------------------------+
  |               PARAGRAPH              |
  +--------------------------------------+*/
.tiny_p {
  @include Font1_I;
  text-indent: 1.5em;
  text-align: justify;
}
.simple_p {
  @include Font0;
  text-indent: 2em;
  text-align: justify;
}
/*+--------------------------------------+
  |               PARAGRAPH              |
  +--------------------------------------+*/

/*+--------------------------------------+
  |              HIGHLIGHTER             |
  +--------------------------------------+*/
.highlighter1 {
  font-weight: 700;
  font-size: 1.04em;
  display: inline;
}
/*+--------------------------------------+
  |              HIGHLIGHTER             |
  +--------------------------------------+*/

/*+--------------------------------------+
  |                BADGES                |
  +--------------------------------------+*/
.badge_1 {
  padding: 0.25em 0.6em;
  border-radius: 0.4em;
  @include Title3;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  text-align: center;
  display: block;
  white-space: nowrap;
}
/*+--------------------------------------+
  |                BADGES                |
  +--------------------------------------+*/

/*+--------------------------------------+
  |              SELECTORS               |
  +--------------------------------------+*/
.selector1 {
  @include Drawed1;
  font-size: 28px;
  color: $white;

  &::first-letter {
    font-size: 2em;
  }
  &.active {
    color: $red;
  }
}
.selector2 {
  @include Drawed1;
  font-size: 28px;
  color: $white;

  &::first-letter {
    font-size: 2em;
  }
}
/*+--------------------------------------+
  |              SELECTORS               |
  +--------------------------------------+*/
