@use "../abstract" as abs;

/*+-----------------------------------------------+
  |                   BUTTONS                     |
  +-----------------------------------------------+*/
.btn_1 {
  background-color: abs.$red;
  @include abs.Font1;
  color: abs.$white;
  font-size: 22px;
  padding: 12px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px abs.$black;
  animation: movingY 800ms ease-in-out 0ms infinite alternate-reverse both;
  transition: color 200ms, background-color 300ms;
  cursor: pointer;

  &:hover {
    animation-play-state: paused;
    background-color: abs.$white;
    color: abs.$red;
  }
}
.btn_2 {
  @include abs.Title2;
  background-color: abs.$red;
  color: abs.$white;
  border: 2px solid abs.$red;
  border-radius: 1000px;
  font-size: 14px;
  padding: 7px 20px;
  width: fit-content;
  cursor: pointer;

  transition: background-color 400ms ease, color 300ms ease;

  &:hover {
    background-color: transparent;
    color: abs.$red;
  }
}
.btn_3{
    @include abs.Title2;
  color: abs.$white;
    background-color: transparent;
  border: 2px solid abs.$red;
  border-radius: 1000px;
  font-size: 14px;
  padding: 7px 20px;
  width: fit-content;
  cursor: pointer;

  transition: background-color 400ms ease;

  &:hover {
  background-color: abs.$red;
  }
}
