@use "../abstract" as *;

@mixin pseudoStyle1($side, $var) {
  content: "";
  position: absolute;
  height: calc(100% - 2 *#{$var});
  #{$side}: 0;
  top: $var;
  border-#{$side}: 1px solid $red;
}

@mixin pseudoStyle2($side, $pos) {
  width: 20px;
  height: 20px;
  #{$side}: 0;
  #{$pos}: 0;
  border-#{$pos}: 1px solid $red;
  border-#{$side}: 1px solid $red;
}

@mixin pseudoStyle3($side, $vertical, $var) {
  #{$vertical}: 0;
  #{$side}: 0;
  width: 20%;
  height: 20%;
  border: 2px solid $red;
}

@mixin headerLogo($pad_top) {
  padding-top: $pad_top;

  svg:deep(text) {
    tspan {
      transition: fill 600ms;
    }
  }

  &:hover {
    svg:deep(text) {
      tspan {
        fill: $red;
      }
    }
  }
  a.router-link-active {
    svg:deep(text) {
      tspan {
        fill: $red;
      }
    }
  }
}

@mixin defaultInputsStyle {
  font-size: 16px;
  padding: 4px;
  border: none;
}
@mixin form1($width, $maxWidth) {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
  margin: auto;
  width: $width;
  max-width: $maxWidth;

  h1 {
    position: relative;
    z-index: 10;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2vw;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 0px 3vw 1.5vw $blackest;

    .input_container {
      @include Font0;
      display: flex;
      flex-direction: column;
      gap: 5px;

      &.half{
        width: 40%;
      }

      .counter {
        color: $black;
        width: fit-content;
        margin-left: auto;
      }
      ._over {
        color: $red;
      }

      label {
        font-size: 14px;
      }

      input {
        @include defaultInputsStyle;
        border-bottom: 1px solid $black;

        &[type="file"] {
          border: none;
        }

        &:target,
        &:focus {
          border-bottom: 1px solid $red;
        }
      }
      select {
        @include defaultInputsStyle;
        border: 1px solid $black;
        width: fit-content;
        margin-top: 4px;
      }
      textarea {
        @include Font0;
        @include defaultInputsStyle;
        resize: vertical;
        border: 1px solid $black;

        &#text {
          height: 35vh;
        }
        &#description {
          height: 16vh;
        }
        &#message{
          height: 30vh;
        }

        &:target,
        &:focus {
          border: 1px solid $red;
        }
      }
    }
  }
  .actions {
    display: flex;
    justify-content: space-between;
  }
}
