@use "../abstract" as *;

/*+============================================+
  |                  LAYOUT                    |
  +============================================+ */
  .flex_r{
    display: flex;
    flex-direction: row;
  }
  .flex_c{
    display: flex;
    flex-direction: column;
  }
  //------------------- END --------------------

