@keyframes movingY{
    0%{
        transform: translateY(-3%);
    }
    100%{
        transform: translateY(3%);
    }
}


    @keyframes cornerTopRight {
        0%{
            top: 0;
            right: 0;
            bottom: 100%;
            left: 100%;
        }
        50%{
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        100%{
            top: 100%;
            right: 100%;
            bottom: 0;
            left: 0;
        }
    }
